//Colors
//TODO:  Technically this color scheme is out of WCAG compliance.  (Ratio between primary color and light text color should be 4.5:1, orange could be slightly darker to resolve this)
$primary-color: #E24301;
$secondary-color: #333333;
$light-text-color: #FFFFFF;

//Fonts
$primary-font: roboto, sans-serif;
$primary-font-bold: 700;

$secondary-font: open-sans, sans-serif;
$secondary-font-regular: 500;
$secondary-font-bold: 700;

$grid-breakpoints: (
  // Small screen / phone
  sm: 0px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1025px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px
);