.cta-banner {
    background-color: $primary-color;
    padding: 3em 0;
    -webkit-box-shadow: 0 8px 8px -8px $secondary-color;
    -moz-box-shadow: 0 8px 8px -8px $secondary-color;
    box-shadow: 0 8px 8px -8px $secondary-color;

    margin-bottom: 1em;
    
    

    &__container {
        display: flex;
        flex-flow: column;
        text-align: center;
        height: 5em;

        @include media-breakpoint-up(md) {
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }
        
        @include media-breakpoint-up(lg) {
            
            padding: 0 4em;
        }
    }

    &__text {
        display: block;
        flex: 1;
        font-family: $secondary-font;
        color: $light-text-color;
        font-size: 1em;
        margin-bottom: 1em;

        @include media-breakpoint-up(md) {
            display: inline-flex;
            font-size: 1.5em;
            margin-right: 1em;
            margin-bottom: 0;
        }
    }

    &__btn {
        color: $light-text-color;
        background-color: transparent;
        border-color: $light-text-color;
        font-family: $secondary-font;
        text-transform: capitalize;
        padding: .5em 5em;
        height: 2.5em;
        transition: ease-in-out all .5s;

        &:hover {
            background-color: $light-text-color;
            border: $light-text-color;
            color: $secondary-color;
        }
    }
}