.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/skyline.jpg") no-repeat center;
    background-size: cover;
    padding: 2em 0;

    @include media-breakpoint-up(md) {
        padding: 15em 0;
    }

    &__headline {
        color: $light-text-color;
        font-family: $secondary-font;
        text-transform: uppercase;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }


    &__text {
        color: $light-text-color;
        font-family: $secondary-font;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }

        @include media-breakpoint-up(lg) {
            width: 70%;
        }
    }

    &__btn {
        display: block;
        color: $light-text-color;
        background-color: transparent;
        border-color: $light-text-color;
        font-family: $secondary-font;
        text-transform: capitalize;
        padding: .5em 2em;
        height: 2.5em;
        transition: ease-in-out all .5s;
        margin-bottom: 1em;

        @include media-breakpoint-up(md) {
            display: inline-block;
            margin-right: 2em;
            margin-bottom: 0;
        }

        &:hover {
            background-color: $light-text-color;
            border: $light-text-color;
            color: $secondary-color;
        }
    }
}