.icon-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-bottom: 5em;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }

    &-icon {
        text-align: center;
        order: 2;
        margin-bottom: 1em;

        &:nth-child(2) {
            order: 3;
        }

        &:nth-child(3) {
            order: 1;
        }

        @include media-breakpoint-up(md) {
            flex-basis: 45%;

            &:nth-child(2) {
                order: 1;
                flex-basis: 100%;
                margin-bottom: 2em;
            }

            &:nth-child(3) {
                order: 3;
            }
        }

        @include media-breakpoint-up(lg) {
            flex-basis: 30%;
            order: 1;

            &:nth-child(2) {
                order: 2;
                flex-basis: 30%;
                margin-bottom: 0;
            }

            &:nth-child(3) {
                order: 3;
            }
        }

        &__img {
            height: 6em;
            margin-bottom: 1em;
        }

        &__header {
            font-family: $secondary-font;
            font-weight: $secondary-font-bold;
            font-size: 1.5em;
            margin-bottom: 1em;

            &:hover {
                color: $primary-color;
                animation: pulse;
                animation-duration: 1s;
            }
        }

        &__text {
            font-family: $secondary-font;
            font-weight: $secondary-font-regular;
            font-size: 1em;
        }
    }
}