.main-navigation {
    background-color: $primary-color;
    color: $light-text-color;
    padding: 1em;

    &__logo {
        @include media-breakpoint-up(md) {
            margin: .5em 1em;
        }
        max-width: 60%;
    }

    &__items {
        margin: 0 1em;
    }

    &__item {
        padding: 0 1em;
    }

    &__link {
        position: relative;
        color: $light-text-color;
        text-transform: uppercase;
        font-family: $primary-font;
        font-weight: $primary-font-bold;

        &:before {
            content: "";
            width: 0;
            position: absolute;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $light-text-color;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
        }

        &:hover {
            color: $light-text-color;

            &:hover:before {
                visibility: visible;
                width: 100%;
            }
        }
    }

    &__toggle {
        color: $light-text-color;
    }
}