.top-navigation {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    height: 3em;

    &__tel {
        color: $light-text-color;
        font-family: $primary-font;
        @include media-breakpoint-up(md) {
            margin-left: 1.5em;
        }

        a {
            color: $light-text-color;
        }
    }

    &__social {
        text-align: right;

        @include media-breakpoint-up(md) {
            margin-right: 1em;
        }

        @include media-breakpoint-up(lg) {
            margin-right: 3em;
        }

        &--link {
            margin: 0 .25em;
            img {
                height: 1.5em;
            }
        }
    }
}